.chat
  max-width: 1000px
  margin: 0 auto
  padding: 0 20px

.message, .reply-message
  background-color: #1D263F
  margin: 10px 0
  margin-top: 20px
  padding: 30px
  border-radius: 20px
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 20px
  &__left-side
    margin-right: 30px
  &__text
    font-size: 20px
    line-height: 1.4
  &__emotions
    margin-top: 16px
    display: flex
  &__dislikes, &__likes
    padding: 4px 8px
    border-radius: 5px
    border: 2px solid RGBA(24, 78, 214, 1.00)
    box-sizing: border-box
    transition: all 0.2s 
    &:hover
      background-color: RGBA(24, 78, 214, 1.00)
  &__likes
    margin-right: 20px
  &__emotion
    margin-right: 10px
  &__right-side
    display: flex
    flex-direction: column
    align-items: flex-end

.button
    color: white
    text-decoration: none
    font-weight: bold
    margin-top: 20px
    padding: 8px 16px
    background-color: #1958E0
    border-radius: 10px
    border: 0
    outline: none
    cursor: pointer
  
.form__message
  display: flex
  justify-content: space-between
  margin: 20px 0

.new-message
  &__text
    width: 100%
    margin-right: 20px
    resize: vertical
    min-height: 30px
    height: 100%
    border-radius:  20px 
    padding: 10px
    font-size: 20px
    background-color: RGBA(27, 34, 54, 1.00)
    color: white
    border: 0
    outline: none
    height: auto
  &__button
    margin-top: 0
    border-radius: 20px
    

.reply-message
  margin: 10px 0
  border-radius: 10px
  border: 3px solid #0F131F
  background-color: RGBA(15, 19, 31, .5)
  padding: 20px
  &:last-child
    margin-bottom: 0
  &__info
    margin-bottom: 0